@charset "UTF-8";

.cell--table {
  width: 100%;
  table-layout: fixed;
}

.cell--table th {
  font-size: 18px;
  padding: 10px;
  background: #319c4a;
  line-height: 26px;
  border: 1px solid #000;
}

.cell--table td {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  line-height: 22px;
  border: 1px solid #000;
}

.cell--table tr {
  background: #d5ffc7;
}

.cell--table tr:nth-child(2n) {
  background: #babcba;
}

.cell--table tbody tr:last-child {
  border-top: 1px double #fff;
}